body {
    background-color: lightgrey;
}

.contact-form-profile{
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

.single-address {
    color: #fafafa;
    font-size: 14px;
    margin-bottom: 5px;
}



#other{
	border-radius: 8px;
	background: lightgrey;
	opacity: 80%;
}

.aside {
    background-color: #00d99877;

    float: left;
    margin: 2em 2em;

    height: 52rem;
    width: 20%;
    border-radius: 20px;    
}

.aside ul {
    margin-top: 2em;
}

.form-group:first-of-type {
    padding-top: 1em;
}

.form-group {
    padding-left: 2em;
}

.aside > ul > h1 {
    display: none;
}

.aside-heading {
    font-size: 2rem;
    padding-left: 3em;
}

.content {
    background-color: #00d99877;
    border-radius: 20px;
    float: right;
    margin: 2em 2em;
    margin-left: 0;
    width: 68%;
}

.event-item {
   display: flex;
   border: 1px solid lightgrey;
   margin: 3em 1em;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0 1rem 3rem rgba(0,0,0,0.4);
   
}

.event-item-photo {
    padding: 1em;
    width: 370px;
    height: 260px;
}

.event-item-content {
    float: right;
}
	
.event-item-content-heading {
    text-align: center;
}

.event-item-content-details {
    padding: 10px;
}

.event-item-content-details span {
    padding: 0 8px;
    margin-right: .5em;
    font-size: 13px;
    background-color: rgb(226, 243, 226);
    border-radius: 10px;
    font-weight: 900;
}

.event-item-content-details p {
    margin-top: 10px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.event-item-button,
.event-item-button:link,
.event-item-button:visited {
    background-color: #00d99877;
    border-radius: 10px;
    float: right;
    margin-right: 3em;
    margin-bottom: 1em;
    outline: none;
    padding: 2px 8px;
}

.event-item-button:hover {
    transform: translateX(1px) translateY(-2px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}

.event-item-button:active {
    transform: translateX(0px) translateY(0px);
    outline: none;
    box-shadow: none;
}

.to-be-continued {
    background-color: #00d99877;
    font-size: 5em;
    font-weight: 600;
    text-align: center;
}

.reset-filter-btn {
    border-radius: 10px;
    margin-left: 2em;
    margin-top: .5em;
    outline: none;
    padding: 2px 8px;
}

.reset-filter-btn:hover {
    transform: translateX(1px) translateY(-2px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}

.reset-filter-btn:active {
    transform: translateX(0px) translateY(0px);
    outline: none;
    box-shadow: none;
}